<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="display-4">Muhammad Andika</div>
        <div class="lead">Lecturer | Web Developer</div>
        </div>
    </div>
</div>